extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id lectus vel purus iaculis condimentum. Pellentesque efficitur lobortis blandit. Aenean id pretium nulla, id venenatis odio. Sed ac libero nec dui fermentum pulvinar eget sit amet nisi. Cras dictum lorem sit amet libero pulvinar, et egestas elit sodales. In facilisis sodales tortor sodales ornare. Vivamus in feugiat sapien, faucibus tristique erat. Aliquam scelerisque accumsan ullamcorper. Aliquam erat volutpat. Aenean aliquet lobortis sapien sed efficitur. Morbi quis convallis dui. Vivamus ultrices hendrerit aliquam. Nullam vel sapien eu felis pulvinar gravida et eu turpis.

                p et mollis lectus, non pellentesque diam. Praesent diam nulla, molestie quis
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icnsegu", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p ipsum dolor sit amet, consectetur adipiscing elit. Phasellus 

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icnsegu", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p ipsum dolor sit amet, consectetur adipiscing elit. 

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icnsegu", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p ipsum dolor sit amet, consectetur adipiscing elit. 

                    